.card {
  -webkit-box-shadow: 3px 4px 21px 5px rgba(255, 255, 255, 0.79);
  box-shadow: 3px 4px 21px 5px #ffffffc9;
  margin: 10px 0;
}

.card-body {
  border-radius: 0 0 15px 15px;
}
.card-title {
  font-size: 33px;
}
